<form #taskForm="ngForm">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name"
           required
           [(ngModel)]="task.name" name="name">
  </div>
  <div>
    <label for="done">Done</label>
    <input type="checkbox" id="done"
           [(ngModel)]="task.done" name="done">
  </div>
  <div>
    <label for="task">Task</label>
    <select id="priority" [(ngModel)]="task.priority" required>
      <option *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
    </select>
  </div>
  <button type="button" (click)="submit();">Add Task</button>
</form>
